logs
project/project
admin/src/main/resources/public
project/target
project/boot
target
dist
tmp
*DS_Store
.idea
.idea_modules
.classpath
.cache
.project
.target
.settings
.ensime*
*~
.\#*
\#*
.history
node_modules
admin/node_modules
*TAGS
*.iml
/data
*.log
